#destination {
  max-width: 920px;
  margin: 4rem auto;
  padding: 4rem 0;
  background-color: var(--bg);
}
.destination-paragraph {
  margin-bottom: 4rem;
  text-wrap: balance;
}
.card {
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-body p {
  font-size: 0.85rem;
}
.font-small {
  font-size: 0.85rem;
}
.destination-final-price {
  background-color: #ffe7db;
  color: var(--main);
}